{% macro experience_table() %}
<div class="experience-table-wrapper">
  <table class="experience-table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Company</th>
        <th>Position</th>
        <th>Skills</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Nov 2023 - Present</td>
        <td>Black Cape</td>
        <td>Software Engineer</td>
        <td>React, TypeScript, Tailwind, Docker</td>
      </tr>
      <tr>
        <td>Mar 2020 - Nov 2023</td>
        <td>U.S. Navy</td>
        <td>Intelligence Analyst</td>
        <td>Military Operations, Intelligence, Leadership, Python</td>
      </tr>
      <tr>
        <td>Nov 2018 - Jul 2019</td>
        <td>JumpCrew</td>
        <td>Account Executive III</td>
        <td>Sales, Marketing, Customer Success</td>
      </tr>
      <tr>
        <td>Oct 2016 - Nov 2018</td>
        <td>Lincoln Heritage Life Insurance Company</td>
        <td>Managing General Agent</td>
        <td>Team Leadership, B2C Sales, Strategic Planning</td>
      </tr>
    </tbody>
  </table>
</div>
{% endmacro %}
